################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs
/BoardgameApi/bin
/BoardgameApi/obj

/BoardgameApi/appsettings.Development.json
